Makefile
Makefile.in
aclocal.m4
attic
autom4te.cache
configure
config.log
config.status
config.h
depcomp
install-sh
missing
mkinstalldirs
screenshots
stamp-h1
*.o
*~
*.bak
*.fp
*.fpw
.deps
.git
*.geany
*.dev
*.layout
.msg
src/*.exe
