Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.log
config.status
*.o
*~
*.bak
.deps
attic
config.h
config.h.in
depcomp
missing
install-sh
mkinstalldirs
stamp-h1
pcb-fpw/doc/html
pcb-fpw/doc/latex
pcb-fpw/po/Makefile.in.in
pcb-fpw/po/POTFILES
pcb-fpw/src/fpw
pcb-fpw/src/pcb-gfpw
